{{#extend "style"}}
<style>
  body {
    font-family: Arial;
  }

  #text {
    font-size: 200%;
    font-family: Calibri;
  }
</style>
{{/extend}}

<h2>
  <a href="/" style="text-decoration: none; color: cornflowerblue">Owned Cloud&#9729;</a>
</h2>
<div id="text" align="center">
  <a href="/login">Log-in</a> now<br>
  or <a href="/register">register</a> now<br> 
  to save your files!
</div>
