<h2><a href="/" style="text-decoration: none; ">Owned Cloud&#9729;</a></h2>

<form action="/api/login" method="post">

  <div class="container">
    <label for="email"><b>E-Mail</b></label>
    <input type="email" placeholder="Enter email" name="email">
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <button type="submit">Login</button>

  </div>

</form>
<a href="register">...or register now </a>
