<h2><a href="/" style="text-decoration: none; ">Owned Cloud&#9729;</a></h2>

<form action="/api/register" method="post">

  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name">
    <br>
    <label for="email"><b>E-Mail</b></label>
    <input type="email" placeholder="Enter email" name="email">
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
    <br>
    <button type="submit">Register</button>

  </div>
</form>
<a href="login">...or Log-in now </a>
